datacenter = "{DATACENTER}"
data_dir = "{{ consul_storgae_dir }}"
#consulclient
advertise_addr = "{BIND_ADDR}",
retry_join = ["provider=aws tag_key={AWS_TAG} tag_value={AWS_KEY}"]
ports {
  grpc = {{ grpc_port }}
}
connect {
  enabled = true
}